
* {    
    box-sizing: border-box;
}

#advanced-btn {
    background-color: #357ae8;
    border: 1px solid #2f5bb7;
    border-image: initial;
    border-radius: 2px;
    color: white;
    cursor: default;
    float: right;
    font-size: 11px;
    font-weight: bold;
    height: 30px;
    line-height: 100%;
    margin: 10px 0;
    min-width: 120px;
    text-align: center;
    user-select: none;
    white-space: nowrap;
}

#advanced-form {
    margin: 40px 2% 0 45px;
    width: 95%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: arial,sans-serif;
    width: 95vw;
}

#form-label {    
    color: #d93025;
    font-size: 20px;
    margin: 25px 35px;
}

.left {
    color: #222;
    float: left;
    font-size: 13px;
    height: 42px;
    line-height: 16px;
    min-width: 167px;
    vertical-align: middle;
    width: 15%;
}

.left-right {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 80%;
}

#logo {
    display: flex;
    width: 90vw;
    position: relative;
    height: auto;
    margin: 20px;
    flex-direction: column;
    align-items: center;
    min-height: 92px;
}

#logo img {
    max-height: 92px;
    width: 60%;
    top: 50%;
    left: 50%;
}

.right {
    font-size: 13px;
    height: 42px;
    line-height: 16px;
    min-width: 167px;
    vertical-align: middle;
    width: 75%;
}

.right input {
    width: 100%;
}

#search {
    display: flex;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    height: 44px;
    margin: 0 auto;
    width: 60%;
    max-width: 584px;
}

.search-btn {
    display: flex;
    border: 1px solid #dfe1e5;
    margin: 0 auto;
}

#search-btns {
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

#top-right {
    margin: 20px;
    text-align: right;
}


